.webring-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5em;
  margin: 2%;
  margin-top:2%;
}
.webring-item {
  text-align: center;
}
.webring-item img {
  width: 240px;
  height: 60px;
  margin: 0 auto;
}
